
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 50px;
    grid-template-areas: 
        "h"
        "m"
        "f";
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: h;
    background-color: #7DAACB;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



main {
    grid-area: m;
    background-color: #DEC384;
    display: grid;
}

footer {
    grid-area: f;
    background-color: #7DAACB;
    text-align: center;
    color: #E8DDB4;
}

a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
}
