
body {
    font-family:
    "Segoe UI",
    "Poppins",
    "Inter",
    system-ui,
    -apple-system,
    "Roboto",
    monospace;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 50px;
    grid-template-areas: 
        "h"
        "m"
        "f";
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0d2044;
}

header {
    grid-area: h;
    background-image: url(Logok/QuizCards.png);
    background-color: #0D121B;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



main {
    grid-area: m;
    display: grid;
}

footer {
    grid-area: f;
    background-color: #0D121B;
    text-align: center;
    color: white;
    margin-top: 20px;
}
footer p{
    margin: 10px
}

a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
}
