* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "php js java";
    place-items: center;
}

nav{
    width: 100%;
    background: rgba(18, 25, 45, 0.85);
    height: 60px;
    margin-bottom: 20px;

    
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.home-link {
    font-size: 36px;
    text-decoration: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 10px;

    transition: 0.2s;
}

article{
    display: grid;
    place-items: center;
       
    width: 320px;
    height: 500px;

    background: rgba(18, 25, 45, 0.85);
    
    border-radius: 20px;
    box-shadow:
    0 25px 45px -12px rgba(0, 0, 0, 0.6),
    0 0 0 2px rgba(66, 153, 225, 0.2);
    overflow: hidden;
    
    cursor: pointer;

}

article:hover .kartya_szoveg {
    opacity: 1;
    transform: translateY(0);
}

.kartya_szoveg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);

    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow:
    0 25px 45px -12px rgba(0, 0, 0, 0.6),
    0 0 0 1px rgba(66, 153, 225, 0.2);

    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(20px);

}

.kartya_szoveg h1 {
    font-size: 26px;
    margin: 10px 0;
}

#php {
    grid-area: php;
    background-image: url("Kepek/php.png");
}

#js {
    grid-area: js;
    background-image: url("Kepek/js.png");
}

#java {
    grid-area: java;
    background-image: url("Kepek/java.png");
}

#php, #js, #java {
    background-size: cover;
    background-position: center;
}


/*reszponzivitás*/
@media (max-width: 1200px) {
    section {
            width: 90%;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "php js"
                "java java";
            gap: 20px;
        }
    }

@media (max-width: 800px) {
    section {
            width: 90%;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "php"
                "js"
                "java";
            gap: 20px;
        }
    }